body{
    background-color: #696969;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: whitesmoke;
}

.join{
    display: flex;
    width: 100%;
}

.create{
    width: 100%
}

.text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.date{
    font-size: 12px;
    color: #444444;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.error{
    color: #f01e2c;
}

.message-box{
    border: 2px lightgrey solid;
    border-radius: 10px;
    background-color: darkgray;
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.messages{
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.input-field{
    padding: 10px;
    display: flex;
}

h2{
    text-align: center;
}

.message{
    width: 100%;
}