body{
    background-color: #DEBA69;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #007172;
}

.join{
    display: flex;
    width: 100%;
}

.create{
    width: 100%
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.error{
    color: #f01e2c;
}